node_modules/
screenshots/
server.out.log
server.err.log
assets/*.png
!assets/history-study.png
!assets/silex-original.png
!assets/silex-desktop.png
!assets/silex-mobile.png
!assets/licao-descoberta-fogo-bloco1-desktop.png
!assets/licao-descoberta-fogo-bloco1-mobile.png
!assets/licao-descoberta-fogo-bloco2-desktop.png
!assets/licao-descoberta-fogo-bloco2-mobile.png
!assets/licao-descoberta-fogo-bloco3-desktop.png
!assets/licao-descoberta-fogo-bloco3-mobile.png
!assets/licao-caca-e-pesca-bloco1-desktop.png
!assets/licao-caca-e-pesca-bloco1-mobile.png
!assets/licao-caca-e-pesca-bloco2-desktop.png
!assets/licao-caca-e-pesca-bloco2-mobile.png
!assets/licao-caca-e-pesca-bloco3-desktop.png
!assets/licao-caca-e-pesca-bloco3-mobile.png
!assets/licao-arte-rupestre-bloco1-desktop.png
!assets/licao-arte-rupestre-bloco1-mobile.png
!assets/licao-arte-rupestre-bloco2-desktop.png
!assets/licao-arte-rupestre-bloco2-mobile.png
!assets/licao-arte-rupestre-bloco3-desktop.png
!assets/licao-arte-rupestre-bloco3-mobile.png
!assets/licao-ritos-funerarios-bloco1-desktop.png
!assets/licao-ritos-funerarios-bloco1-mobile.png
!assets/licao-ritos-funerarios-bloco2-desktop.png
!assets/licao-ritos-funerarios-bloco2-mobile.png
!assets/licao-ritos-funerarios-bloco3-desktop.png
!assets/licao-ritos-funerarios-bloco3-mobile.png
